<!-- La view listar productos -->
<section data-ng-controller="ProductosController" data-ng-init="find()">
<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Prueba</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">         
      <ul class="nav navbar-nav navbar-right">        
        <li class="dropdown">
          <a href="#!" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
          	<i class="fa fa-user fa-fw"></i>{{authentication.user.fullName}}<span class="caret"></span>
          </a>
          <ul class="dropdown-menu">     
          	<li><a href="#!">Configuración</a></li>       
            <li role="separator" class="divider"></li>
            <li><a href="/signout">Cerrar Sesión</a></li>
          </ul>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
<div class="container">
	<div class="page-header">
  		<h1>Producto <small>Listado</small></h1>
</div> 
  <!-- Table -->
  <table class="table table-striped">
        <thead>
            <tr>
                <th width="27%">Producto</th>
                <th width="27%">Precio</th>
                <th width="28%">Descripción</th>
                <th width="*">Acción</th>
            </tr>
        </thead>
        <tbody>                        
                <tr data-ng-repeat="producto in productos">
                    <td>
                        <a data-ng-href="#!/productos/{{producto._id}}" data-ng-bind="producto.producto"></a>
                    </td>
                    <td>
                        <p data-ng-bind="producto.precio"></p>
                    </td>
                    <td>
                        <p data-ng-bind="producto.descripcion"></p>
                    </td>
                    <td>
                        <a href="/#!/productos/{{producto._id}}/edit" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i>&nbsp; Editar</a>
                        <a href="/#!/productos/{{producto._id}}/delete" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i>&nbsp; Borrar</a>
                    </td>
                </tr>
        </tbody>
    </table>
    <div class="pull-right"><a href="#!" class="btn btn-info">Volver</a></div>
	<!--<ul>		
		<li data-ng-repeat="producto in productos">
			<a data-ng-href="#!/productos/{{producto._id}}" data-ng-bind="producto.producto"></a>
			<br>
			<!--<small data-ng-bind="producto.creado | date:'medium'"></small>
			<small>/</small>
			<small data-ng-bind="producto.creador.fullName"></small>
            <p data-ng-bind="producto.precio"></p>
            <p data-ng-bind="producto.descripcion"></p>
			<!-- Mostrar los botones de edición para artículo creado -->
    <!--<p data-ng-show="authentication.user._id == producto.creador._id">
        <a href="/#!/productos/{{producto._id}}/edit">editar</a>
        <a href="/#!/productos/{{producto._id}}/delete">borrar</a>
    <!--</p>
		</li>
	</ul>-->
	<!-- Si no hay productos en la lista, sugire al usuario que cree un nuevo producto -->
	<div data-ng-hide="!productos || productos.length">
		Aún no hay productos, porque no creas <a href="/#!/productos/create">el primero</a>?
	</div>
</div>
</section>