<section ng-controller="ComprasController" data-ng-init="find()">
<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Prueba</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">         
      <ul class="nav navbar-nav navbar-right">        
        <li class="dropdown">
          <a href="#!" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
          	<i class="fa fa-user fa-fw"></i>{{authentication.user.fullName}}<span class="caret"></span>
          </a>
          <ul class="dropdown-menu">     
          	<li><a href="#!">Configuración</a></li>       
            <li role="separator" class="divider"></li>
            <li><a href="/signout">Cerrar Sesión</a></li>
          </ul>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
<div class="container">
<div class="page-header">
  		<h1>Buscar <small>Compra</small></h1>
</div>
<div class="row">
<div class="col-md-12">
<div class="panel panel-default">
                            <div class="panel-body">
     <form class="form-horizontal" role="form">
     	<div class="col-md-6">
        <div class="form-group">
          <label for="input1" class="col-sm-4 control-label">Documento</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" id="input1" placeholder="Documento" ng-model="filterTxn.id_cliente.documento">
          </div>
        </div>
        <div class="form-group">
          <label for="input2" class="col-sm-4 control-label">Por Cliente</label>
          <div class="col-sm-6" data-ng-init="findCliente()">     	
            <select id="input2" class="form-control" ng-model="filterTxn.id_cliente">
                <option value="">All Clientes</option>
                <option ng-repeat="item in clientes" value="{{item._id}}">{{item.nombres}}</option>
            </select>
          </div>
        </div>               
         <div class="form-group">
          <label for="input3" class="col-sm-4 control-label">Por Producto</label>
          <div class="col-sm-6" data-ng-init="findProducto()">
                <select id="input3" class="form-control" ng-model="filterTxn.id_producto">
                    <option value="">All Productos</option>
                    <option ng-repeat="item in productos" value="{{item._id}}">{{item.producto}}</option>
                </select>
          </div>
        </div>
        </div>
        <div class="col-md-6">
        <div class="form-group">
          <label for="input3" class="col-sm-4 control-label">Por Sede</label>
          <div class="col-sm-6" data-ng-init="findSede()">
                <select id="input3" class="form-control" ng-model="filterTxn.id_sede">
                    <option value="">All Sedes</option>
                    <option ng-repeat="item in sedes" value="{{item._id}}">{{item.sede}}</option>
                </select>
          </div>   
        </div>     
        <div class="form-group">
          <label for="input4" class="col-sm-4 control-label">Por Precio</label>
          <div class="col-sm-6">
              <input id="input4" type="text" class="form-control" ng-model="filterTxn.precio" placeholder="Precio">
          </div>
        </div>
        </div>         
      </form>  
      </div>
      </div>
      </div> 
      </div>
    <h3>Compras</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th ng-click="sortType = 'txn.id_cliente.documento'; sortReverse = !sortReverse">
            		Documento 
            		<span ng-show="sortType == 'txn.id_cliente.documento' && !sortReverse" class="fa fa-caret-down"></span>
            		<span ng-show="sortType == 'txn.id_cliente.documento' && sortReverse" class="fa fa-caret-up"></span>          		
                </th>
                <th ng-click="sortType = 'txn.id_cliente.nombres'; sortReverse = !sortReverse">
            		Cliente 
            		<span ng-show="sortType == 'txn.id_cliente.nombres' && !sortReverse" class="fa fa-caret-down"></span>
            		<span ng-show="sortType == 'txn.id_cliente.nombres' && sortReverse" class="fa fa-caret-up"></span>          		
                </th>
              <th ng-click="sortType = 'txn.id_producto.producto'; sortReverse = !sortReverse">
                Producto 
                <span ng-show="sortType == 'txn.id_producto.producto' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'txn.id_producto.producto' && sortReverse" class="fa fa-caret-up"></span>
              </th>
              <th ng-click="sortType = 'txn.id_sede.sede'; sortReverse = !sortReverse">
                Sede 
                <span ng-show="sortType == 'txn.id_sede.sede' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'txn.id_sede.sede' && sortReverse" class="fa fa-caret-up"></span>
              </th>
              <th ng-click="sortType = 'txn.precio'; sortReverse = !sortReverse">
                Precio 
                <span ng-show="sortType == 'txn.precio' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'txn.precio' && sortReverse" class="fa fa-caret-up"></span>
              </th>
              <th width="*">Acción</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="txn in compras| filter:filterTxn">
                <td>{{$index + 1}}</td>
                <td><a data-ng-href="#!/compras/{{txn._id}}" data-ng-bind="txn.id_cliente.documento"></a></td>
                <td>{{txn.id_cliente.nombres}}</td> 
                <td>{{txn.id_producto.producto}}</td> 
                <td>{{txn.id_sede.sede}}</td> 
                <td>{{txn.precio}}</td>
                <td>
                        <a href="/#!/compras/{{txn._id}}/edit" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i>&nbsp; Editar</a>
                        <a href="/#!/compras/{{txn._id}}/delete" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i>&nbsp; Borrar</a>
                    </td>
            </tr>
        </tbody>
    </table>
</div>
</section>